/**
* Folha de estilo do site html5 + CSS3
* @author Murilo Solano Oliva
*/

/*************** Importando fontes ****************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

/*************** Principal *****************/
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e8e8;
}

/*
 # (id) . (class) - Podemos criar um estilo para a TAG, id ou class
*/

#main{
    max-width: 1024px;
    background-color: #ffffff;
    margin: 0 auto; /* centraliza a div */
    margin-top: 50px; /* box model */
}

#logo{
    margin-left: 930px;
    max-width: 48px;
    position: absolute;
    margin-top: 55px;
 

}
#logo1{
    margin-left: 990px;
    max-width: 48px;
    position: absolute;
    margin-top: 55px;
 

}
#logo2{
    margin-left: 1050px;
    max-width: 48px;
    position: absolute;
    margin-top: 55px;
 

}
#logo3{
    margin-left: 1110px;
    max-width: 48px;
    position: absolute;
    margin-top: 55px;
 

}



/******************* header *********************/
header{
    width: 100%;
}

header img{
    /* é possível redimensionar a imagem diretamente pelo CSS */
    /* Não recomendado por questões de desempenho */
    width: 195px;
    height: 150px;
    margin-left: 40px;

}




/*************** Tratamento Responsivo ***************/
/**** tornar todas as imagens responsivas ****/ 
img {
    max-width: 100%;
}

/* o bloco abaixo modifica o comportamento do CSS para telas
com tamanho de até 480px */
@media screen and (max-width: 480px){
    
    /*************** principal *****************/
    body{
        margin: 0; /* Zera todas as margens */
    }

    #main{
        margin: 0;
    }
    /*************** header ****************/
    
    header{
        text-align: center; /* centralizar todos elementos */
    }

    header img{
        margin: 0 auto;
        margin-top: 50px;
    }

    #logo{
        margin: 0 auto;
        position: absolute;
        margin-left: 100px;
        
    }
    #logo1{
        margin: 0 auto;
        position: absolute;
        margin-left: 165px;
       
    
    }
    #logo2{
        margin: 0 auto;
        position: absolute;
        margin-left: 225px;
     
    
    }
    #logo3{
        margin: 0 auto;
        position: absolute;
        margin-left: 290px;
    
    }
 


}