/**
* Folha de estilo do site html5 + CSS3
* @author Murilo Solano Oliva
*/

/*************** Importando fontes ****************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

/*************** Principal *****************/
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

/*
 # (id) . (class) - Podemos criar um estilo para a TAG, id ou class
*/

#main{
    max-width: 1024px;
    background-color: #ffffff;
    margin: 0 auto; /* centraliza a div */
    margin-top: 50px; /* box model */
}


/******************* header *********************/
header{
    width: 100%;

}

  /* é possível redimensionar a imagem diretamente pelo CSS */
    /* Não recomendado por questões de desempenho */
/**header img{
  
    width: 195px;
    height: 150px;
    margin-left: 40px;

}
 */

 #social{
     
     float:right; 
     /*margin-top: 20px;
     margin-right: 20px;*/
     /* box model completo top, rith, bottom, left*/
    /* margin: 20px 20px 0px 0px;*/
     /* box model completo*/
    padding: 20px 20px 0px 0px;
 }
 #logo{
     padding: 20px;
 }



/*************** Tratamento Responsivo ***************/
/**** tornar todas as imagens responsivas ****/ 
img {
    max-width: 100%;
}

/* o bloco abaixo modifica o comportamento do CSS para telas
com tamanho de até 480px */
@media screen and (max-width: 480px){
    
    /*************** principal *****************/
    body{
        margin: 0; /* Zera todas as margens */
    }

    #main{
        margin: 0;
    }
    /*************** header ****************/
    
    header{
        text-align: center; /* centralizar todos elementos */
    }

    #social{
        float: none;
        padding-right: 0;
        
    }



}